In [ ]:
!pip install -U scikit-learn==1.3.2 xgboost==1.7.6

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from lightgbm import LGBMRegressor
from xgboost import XGBRegressor

# 1. ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
df = pd.read_csv('/content/drive/MyDrive/ê¸°ìƒì²­/ìµœì¢…ì‘ì—…/2020_2023_ìµœì¢…ë°ì´í„°.csv')

# 2. tm_dt ì œê±°
if 'tm_dt' in df.columns:
    df.drop(columns=['tm_dt'], inplace=True)

# 3. ë‚ ì§œ íŒŒìƒ ë³€ìˆ˜
df['year'] = df['tm'] // 10000
df['month'] = (df['tm'] % 10000) // 100
df['day'] = df['tm'] % 100
df['weekday'] = pd.to_datetime(df['tm'], format='%Y%m%d').dt.weekday
df['is_weekend'] = df['weekday'].isin([5, 6]).astype(int)
df['is_before_holiday'] = df['ê³µíœ´ì¼'].shift(-1, fill_value=0)
df['is_after_holiday'] = df['ê³µíœ´ì¼'].shift(1, fill_value=0)

# 4. ë²”ì£¼í˜• ì¸ì½”ë”©
encoder = LabelEncoder()
df['address_city'] = encoder.fit_transform(df['address_city'])

# 5. í‰ê·  íƒ€ê²Ÿ ì¸ì½”ë”©
df['address_gu_mean_target'] = df.groupby('address_gu')['call_count'].transform('mean')
df['sub_address_mean_target'] = df.groupby('sub_address')['call_count'].transform('mean')

# 6. address_gu ì •ë³´ ë”°ë¡œ ì €ì¥
address_gu_all = df['address_gu'].copy()  # âœ… ë³´ì¡´

# 7. ì…ë ¥/ì¶œë ¥ êµ¬ì„± (ì´ì œ address_guëŠ” ì œê±°!)
drop_cols = ['tm', 'call_count', 'address_gu', 'sub_address']
X = df.drop(columns=drop_cols)
y = df['call_count']

# 8. float32 ë³€í™˜
X = X.astype('float32')
y = y.astype('float32')

# 9. í•™ìŠµ/ê²€ì¦ ë¶„ë¦¬ (address_gu í•¨ê»˜ ë‚˜ëˆ”)
X_train, X_val, y_train, y_val, gu_train, gu_val = train_test_split(
    X, y, address_gu_all, test_size=0.2, random_state=42
)

# 10. êµ¬ë³„ ëª¨ë¸ í•™ìŠµ
gu_models = {}
gu_scores = {}

gu_list = gu_train.unique()

for gu in gu_list:
    X_train_gu = X_train[gu_train == gu]
    y_train_gu = y_train[gu_train == gu]
    X_val_gu = X_val[gu_val == gu]
    y_val_gu = y_val[gu_val == gu]

    if len(X_train_gu) < 30:
        print(f"âš ï¸ {gu} - ë°ì´í„° ìˆ˜ ë¶€ì¡±ìœ¼ë¡œ í•™ìŠµ ìƒëµ")
        continue

    model = XGBRegressor(
      n_estimators=300,
      max_depth=6,
      learning_rate=0.05,
      subsample=0.8,
      colsample_bytree=0.8,
      tree_method='hist',
      random_state=42,
      early_stopping_rounds=30
      )
    model.fit(
      X_train, y_train,
      eval_set=[(X_val, y_val)],
      verbose=False
      )

    y_pred_val = model.predict(X_val_gu)
    y_pred_val = np.clip(y_pred_val, 0, 4)  # ì „ì²´ì ìœ¼ë¡œ ë‚®ì¶”ê³ , ìƒí•œ 5ë¡œ ì œí•œ
    y_pred_val = np.round(y_pred_val).astype(int)
    rmse = np.sqrt(mean_squared_error(y_val_gu, y_pred_val))

    gu_models[gu] = model
    gu_scores[gu] = rmse

    print(f"âœ… [{gu}] RMSE: {rmse:.4f}")

# 11. ì „ì²´ ê²€ì¦ RMSE ì¶œë ¥
all_preds = []
all_targets = []

for gu in gu_models.keys():
    X_val_gu = X_val[gu_val == gu]
    y_val_gu = y_val[gu_val == gu]
    y_pred_val = gu_models[gu].predict(X_val_gu)

    all_preds.extend(y_pred_val)
    all_targets.extend(y_val_gu)

total_rmse = np.sqrt(mean_squared_error(all_targets, all_preds))
print(f"\nğŸ“Š ì „ì²´ RMSE (call_count ê¸°ì¤€): {total_rmse:.4f}")

âœ… [í•´ìš´ëŒ€êµ¬] RMSE: 1.6185
âœ… [ì‚¬í•˜êµ¬] RMSE: 1.3184
âœ… [ê¸ˆì •êµ¬] RMSE: 0.9255
âœ… [ë¶êµ¬] RMSE: 1.4706
âœ… [ê¸°ì¥êµ°] RMSE: 1.2736
âœ… [ë™êµ¬] RMSE: 1.4863
âœ… [ì‚¬ìƒêµ¬] RMSE: 0.9907
âœ… [ë¶€ì‚°ì§„êµ¬] RMSE: 1.2514
âœ… [ë‚¨êµ¬] RMSE: 1.9764
âœ… [ì—°ì œêµ¬] RMSE: 3.8011
âœ… [ê°•ì„œêµ¬] RMSE: 0.7848
âœ… [ìˆ˜ì˜êµ¬] RMSE: 1.2673
âœ… [ë™ë˜êµ¬] RMSE: 1.5728
âœ… [ì¤‘êµ¬] RMSE: 0.6993
âœ… [ì˜ë„êµ¬] RMSE: 3.6722
âœ… [ì„œêµ¬] RMSE: 0.7170

ğŸ“Š ì „ì²´ RMSE (call_count ê¸°ì¤€): 1.3628

In [ ]:
# ì˜ˆì¸¡
valid_df = pd.read_csv('/content/drive/MyDrive/ê¸°ìƒì²­/ìµœì¢…ì‘ì—…/2024_á„á…¬á„Œá…©á†¼á„ƒá…¦á„‹á…µá„á…¥.csv')
result_df_list = []

# í‰ê· ê°’ ë§¤í•‘ ì €ì¥
address_gu_mean_map = df.groupby('address_gu')['call_count'].mean().to_dict()
sub_address_mean_map = df.groupby('sub_address')['call_count'].mean().to_dict()

for gu in tqdm(valid_df['address_gu'].unique()):
    if gu not in gu_models:
        print(f"âš ï¸ {gu} ëª¨ë¸ ì—†ìŒ â†’ ì˜ˆì¸¡ ìƒëµ")
        continue

    valid_gu_df = valid_df[valid_df['address_gu'] == gu].copy()
    valid_gu_df['year'] = valid_gu_df['tm'] // 10000
    valid_gu_df['month'] = (valid_gu_df['tm'] % 10000) // 100
    valid_gu_df['day'] = valid_gu_df['tm'] % 100
    valid_gu_df['weekday'] = pd.to_datetime(valid_gu_df['tm'], format='%Y%m%d').dt.weekday
    valid_gu_df['is_weekend'] = valid_gu_df['weekday'].isin([5, 6]).astype(int)
    valid_gu_df['is_before_holiday'] = valid_gu_df['ê³µíœ´ì¼'].shift(-1, fill_value=0)
    valid_gu_df['is_after_holiday'] = valid_gu_df['ê³µíœ´ì¼'].shift(1, fill_value=0)

    valid_gu_df['address_city'] = valid_gu_df['address_city'].apply(
        lambda x: x if x in encoder.classes_ else 'Unknown'
    )
    if 'Unknown' not in encoder.classes_:
        encoder.classes_ = np.append(encoder.classes_, 'Unknown')
    valid_gu_df['address_city'] = encoder.transform(valid_gu_df['address_city'])

    valid_gu_df['address_gu_mean_target'] = address_gu_mean_map.get(gu, df['call_count'].mean())
    valid_gu_df['sub_address_mean_target'] = valid_gu_df['sub_address'].map(sub_address_mean_map)
    valid_gu_df['sub_address_mean_target'] = valid_gu_df['sub_address_mean_target'].fillna(df['call_count'].mean())

    X_valid_gu = valid_gu_df.drop(columns=['tm', 'call_count', 'address_gu', 'sub_address'], errors='ignore')
    for col in X.columns:
        if col not in X_valid_gu.columns:
            X_valid_gu[col] = 0.0
    X_valid_gu = X_valid_gu[X.columns].astype('float32')

    preds = np.round(gu_models[gu].predict(X_valid_gu)).astype(int)
    valid_gu_df['call_count'] = preds

    result_df_list.append(valid_gu_df[['tm', 'address_city', 'address_gu', 'sub_address', 'call_count']])

# ë³‘í•©
valid_preds_df = pd.concat(result_df_list, ignore_index=True)
valid_preds_df.rename(columns={'tm': 'TM'}, inplace=True)

submission_template = pd.read_csv('/content/drive/MyDrive/ê¸°ìƒì²­/ìµœì¢…ì‘ì—…/test_call119.csv', encoding='euc-kr')
submission_template['address_city'] = submission_template['address_city'].apply(
    lambda x: x if x in encoder.classes_ else 'Unknown'
)
if 'Unknown' not in encoder.classes_:
    encoder.classes_ = np.append(encoder.classes_, 'Unknown')
submission_template['address_city'] = encoder.transform(submission_template['address_city'])

submission_template.drop(columns=['call_count'], inplace=True, errors='ignore')

submission = submission_template.merge(
    valid_preds_df,
    on=['TM', 'address_city', 'address_gu', 'sub_address'],
    how='left'
)

submission['call_count'] = submission['call_count'].fillna(0).astype(int)
submission.to_csv('250028.csv', index=False, encoding='cp949')
print("âœ… ì œì¶œ íŒŒì¼ ì €ì¥ ì™„ë£Œ: 250028.csv")

# ì˜ˆì¸¡ ë¶„í¬ í™•ì¸
print(submission['call_count'].value_counts().sort_index())

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 16/16 [00:00<00:00, 49.45it/s]

âœ… ì œì¶œ íŒŒì¼ ì €ì¥ ì™„ë£Œ: 250028.csv
call_count
1    2999
2    5487
3     757
4     128
5      74
6      82
7      51
8      18
9       5
Name: count, dtype: int64

In [ ]:
submission['call_count'].value_counts()

call_count
2    5487
1    2999
3     757
4     128
6      82
5      74
7      51
8      18
9       5
Name: count, dtype: int64